<header class="header">
  <div class="header__nav-element nav-element">
    <span class="navbar__icon--menu"></span>
    <a href="home.html" class="navbar__logo">CertBY</a>
    <div class="hide-desktop">
      <span class="navbar__icon--search"></span>
    </div>
  </div>
  <div class="header__search-catalog-pc hide-mobile">
    <input class="search-catalog__input" type="text" placeholder="Search..." />
  </div>
  <div class="header__navbar-pc">
    <ul class="navbar-pc hide-mobile">
      <li class="navbar__item">
        <a href="home.html" class="navbar__icon--link">
          <span class="navbar__icon--home"></span>
          <span class="icon__text">Home</span>
        </a>
      </li>
      <li class="navbar__item">
        <a href="cart.html" class="navbar__icon--link">
          <span class="navbar__icon--cart"></span>
          <span class="icon__text">Cart</span>
        </a>
      </li>
      <li class="navbar__item">
        <a href="account.html" class="navbar__icon--link">
          <span class="navbar__icon--account navbar__icon--active"></span>
          <span class="icon__text">Account</span>
        </a>
      </li>
    </ul>
  </div>
</header>
