<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>CertBY</title>
    <script type="module" src="/client/js/certificates-filter.js"></script>
  </head>
  <body>
    <div id="top" class="wrapper">
      <%- include('partials/header.ejs')%>
      <main>
        <div class="catalog-page">
          <aside class="catalog-page__filter">
            <div class="filter__header">
              <h5 class="filter__title">Filters</h5>
              <span class="close-icon hide-desktop"></span>
            </div>
            <div class="filter__content form__wrap">
              <div class="form-block-sm">
                <label for="name">Certificate name</label>
                <input id="name" type="text" />
              </div>
              <div class="form-block-sm">
                <label for="tag">Tag</label>
                <input id="tag" type="text" />
              </div>
              <div class="form-block-sm">
                <label for="description">Description</label>
                <textarea id="description"></textarea>
              </div>
            </div>
            <div class="filter__bottom">
              <button class="btn-main-lg filter-btn--apply">
                Show certificates
              </button>
              <button class="filter-btn--reset">Reset filters</button>
            </div>
          </aside>
          <div class="catalog-page__main">
            <div class="sorter-mobile">
              <span class="sorter-mobile__title">Sort by:</span>
              <div class="sorter-mobile__select">
                <div class="select-filter">
                  <div class="select-filter__value hide-desktop">
                    By update desc
                  </div>
                  <div class="select-filter__list">
                    <button class="select-filter__item" aria-details="upd-asc">
                      By update asc
                    </button>
                    <button class="select-filter__item" aria-details="upd-desc">
                      By update desc
                    </button>
                    <button class="select-filter__item" aria-details="name-asc">
                      By name asc
                    </button>
                    <button
                      class="select-filter__item"
                      aria-details="name-desc"
                    >
                      By name desc
                    </button>
                  </div>
                </div>
              </div>
              <div class="sorter-mobile__filter hide-desktop"></div>
            </div>
            <div class="catalog-page__content">
              <div class="main-page__promo">
                <ul class="promo__list">
                  <li class="promo__item" aria-details="sport">
                    <img src="/images/promo1.jpg" />
                  </li>
                  <li class="promo__item" aria-details="family">
                    <img src="/images/promo2.jpg" />
                  </li>
                  <li class="promo__item" aria-details="car">
                    <img src="/images/promo3.jpg" />
                  </li>
                  <li class="promo__item" aria-details="food">
                    <img src="/images/promo4.jpg" />
                  </li>
                </ul>
                <ul class="promo__pagination">
                  <li
                    class="promo__pagination-bullet promo__pagination-bullet--active"
                    slide-number="0"
                  ></li>
                  <li class="promo__pagination-bullet" slide-number="1"></li>
                </ul>
              </div>
              <script src="/client/js/home.js"></script>
            </div>
            <a href="#top" class="to-top-btn"></a>
          </div>
        </div>
      </main>
      <%- include('partials/footer.ejs')%>
    </div>
    <script>
      const slideBullets = document.querySelectorAll(
        ".promo__pagination-bullet"
      );
      let curSlide = 0;

      const changeSlide = function (bullet) {
        const list = document.querySelector(".promo__list");

        slideBullets.forEach((bullet) => {
          bullet.classList.remove("promo__pagination-bullet--active");
        });
        bullet.classList.add("promo__pagination-bullet--active");

        list.style.transform = `translateX(${-100 * curSlide}%)`;
      };

      slideBullets.forEach((bullet, index) => {
        bullet.addEventListener("click", function () {
          curSlide = bullet.getAttribute("slide-number");
          changeSlide(bullet, curSlide);
        });
      });

      const slideFunc = function () {
        curSlide == 1 ? curSlide-- : curSlide++;
        const bullet = document.querySelector(
          `.promo__pagination .promo__pagination-bullet:nth-child(${
            curSlide + 1
          })`
        );

        changeSlide(bullet, curSlide);
      };

      window.setInterval(function () {
        slideFunc();
      }, 5000);
    </script>
  </body>
</html>
