.cart-page {
  margin: 1em 0 2em 0;
}

.cart__header-tabs, .cart-page__cart-empty, .cart__item-wrap, .cart__sidebar {
  padding: 0 1em 0 1em;
}

.cart__header-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-section__header {
  position: relative;
}

.cart-section__header::after {
  position: absolute;
  left: calc(100% + 4px);
  content: attr(data-count);
  font-size: 18px;
}

.cart__item-description {
  margin-bottom: 10px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cart__item-name {
  font-weight: 700;
  margin-bottom: 5px;
}

@media only screen and (min-width: 961px) {
  .cart-page {
    margin: 2em;
  }
  .cart__header-tabs, .cart-page__cart-empty, .cart__item-wrap, .cart__sidebar {
    padding: 0;
  }
  .cart__content, .cart__sidebar {
    padding: 40px;
    margin: 30px auto;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}

.cart-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}

.cart__item-wrap {
  margin-top: 16px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e8e8e8;
  padding-top: 16px;
}

.cart__item-wrap:last-of-type {
  margin-bottom: 16px;
}

.cart__item-img {
  margin-right: 12px;
  width: 140px;
  height: 140px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(41, 43, 83, 0.03);
}

.cart__item-img::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.cart__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-empty__text {
  margin-bottom: 28px;
  color: #8b8b8b;
}

.cart__item-price {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.cart__item-properties {
  color: #8b8b8b;
  font-size: 14px;
}

.cart__item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.count__numeric {
  width: 24px;
  background-color: transparent;
  border: none;
  text-align: center;
}

.count__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count__minus span {
  display: block;
  width: 26px;
  height: 26px;
  background-size: 26px;
  background-image: url("../../assets/images/remove_24dp.svg");
  -webkit-filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
          filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
}

.count__plus span {
  display: block;
  width: 26px;
  height: 26px;
  background-size: 26px;
  background-image: url("../../assets/images/add_24dp.svg");
  -webkit-filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
          filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
}

.count__plus.disabled span,
.count__minus.disabled span {
  -webkit-filter: invert(83%) sepia(6%) saturate(0%) hue-rotate(198deg) brightness(90%) contrast(90%);
          filter: invert(83%) sepia(6%) saturate(0%) hue-rotate(198deg) brightness(90%) contrast(90%);
}

.cart__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn__del {
  display: inline-block;
  padding: 9px;
  margin: -9px;
}

.btn__del span {
  display: block;
  width: 26px;
  height: 26px;
  background-size: 26px;
  background-image: url("../../assets/images/delete_24dp.svg");
  -webkit-filter: invert(83%) sepia(6%) saturate(0%) hue-rotate(198deg) brightness(90%) contrast(90%);
          filter: invert(83%) sepia(6%) saturate(0%) hue-rotate(198deg) brightness(90%) contrast(90%);
  font-size: 0;
}

.cart__sidebar {
  padding: 16px;
  border-top: 10px solid #e8e8e8;
}

.top__total, .top__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
}

.top__count {
  color: #8b8b8b;
  font-weight: unset;
  font-size: unset;
  margin-top: 8px;
}

.btn-order {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  margin-top: 8px;
}

@media only screen and (min-width: 961px) {
  .cart__content, .cart__sidebar {
    padding: 24px;
  }
  .cart-page {
    margin: 2rem;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cart__content {
    width: calc(100% / 12 * 9 - 40px);
    margin: 0 40px 0 0;
  }
  .cart__sidebar {
    margin: unset;
    width: calc(100% / 12 * 3);
    border-top: unset;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
  .cart__header-tabs {
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
  }
  .cart__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 16px;
  }
  .cart__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: unset;
    padding-top: unset;
    margin-right: 40px;
  }
  .cart__item-info {
    width: calc(100% - 80px - 16px);
  }
  .count__minus span {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-image: url("../../assets/images/remove_24dp.svg");
    -webkit-filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
            filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
  }
  .count__plus span {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-image: url("../../assets/images/add_24dp.svg");
    -webkit-filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
            filter: invert(49%) sepia(41%) saturate(4267%) hue-rotate(155deg) brightness(97%) contrast(99%);
  }
  .btn__del {
    -webkit-text-decoration: underline dashed;
            text-decoration: underline dashed;
    text-underline-offset: 3px;
  }
  .cart__item-wrap:hover .btn__del span {
    opacity: 1;
    color: #8b8b8b;
  }
  .cart__item-wrap:hover .btn__del:hover {
    color: #051f34;
  }
  .btn__del span {
    opacity: 0;
    font-size: 14px;
    background: none;
    width: unset;
  }
  .cart__item-controls {
    margin: 0;
    width: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart__item-price {
    width: 195px;
    text-align: right;
    font-size: 24px;
  }
  .cart__item-btn {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=cart.css.map */