@import "common";
@import "globals";

.account-page {
  @extend %page;
  @extend %page__element;
}

.account-page__user-card {
  display: flex;
  flex-direction: column;
}

.user-card__info {
  flex-grow: 0.8;
}

.user-card__icon {
  @include icon(url("/images/account-circle_24dp.svg"), 250px, $filter-grey);
  margin: 0 auto;
}

.user-card__name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

%user-card__other-details {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-card__email {
  @extend %user-card__other-details;
}

.user-card__balance {
  @extend %user-card__other-details;
  margin-bottom: 15px;
}

.user-card__btn {
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card__btn:last-of-type {
  margin-bottom: 0;
}

%user-card__icon {
  margin-right: 5px;
}

.user-card__icon--edit {
  @extend %user-card__icon;
  @include icon(url("/images/edit_24dp.svg"), 20px, $filter-white, block);
}

.user-card__icon--balance {
  @extend %user-card__icon;
  @include icon(url("/images/balance_24dp.svg"), 20px, $filter-white, block);
}

.user-card__icon--password {
  @extend %user-card__icon;
  @include icon(url("/images/password_24dp.svg"), 20px, $filter-white, block);
}

@media only screen and (min-width: 961px) {
  .account-page {
    @extend %shadow-box;
    width: 920px;
  }

  .account-page__user-card {
    flex-direction: row;
  }
}
